@model PaginationDto<ResultHouseWithLocationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
    string shortDesc = "";
}
<style>
    .house-card {
        width: 350px; 
        margin: 5px;
        margin-bottom: 1rem;
        
    }
</style>

<main class="app-main">

    <div class="app-content mt-4">
        <!--begin::Container-->
        <div class="container-fluid"
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header bg-body-secondary " data-bs-theme="dark">
                            <h3 class="card-title float-star text-white">Evler</h3>
                            <a class="btn btn-success float-end px-3" asp-action="Create"><span class="fa-solid fa-plus"></span> Ev Ekle</a>
                        </div> <!-- /.card-header -->
                        <div class="card-body">
                            <div class="d-flex flex-wrap justify-content-evenly">
                                @foreach (var item in Model.Items)
                                {
                                    {
                                        var maxLength = 100;

                                        shortDesc = @item.description.Length > maxLength ? (@item.description.Substring(0, maxLength) + "..") : @item.description;
                                    }
                                        <div class="card house-card">
                                        <div class="position-absolute top-0 start-0 bg-dark text-white p-1 text-center fw-bold" style="font-size: 16px; min-width: 30px; height:32px; border-radius: 5px;">
                                            #@item.houseID
                                        </div>
                                        <div style="height:350px">
                                            <a asp-action="Reservation" asp-route-id="@item.houseID">
                                        <img src="@item.coverImageUrl" class="card-img-top" alt="Bungalov Resmi" style="object-fit: cover;height: 350px;">
                                            </a>
                                            </div>
                                            <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h5 class="card-title me-2">@item.name</h5>
                                                        <small class="fs-7">@item.locationName</small>
                                                    </div>
                                                    <p class="card-text text-muted ">@shortDesc</p>
                                                <div class="d-flex justify-content-around my-2 flex-column flex-md-row">
                                                    <div class="text-center text-md-start">
                                                        <span class="fw-bold">@item.WeekdayPrice.ToString("0")₺</span>
                                                        <small class="text-muted">/ Hafta İçi</small>
                                                    </div>
                                                    <div class="text-center text-md-start">
                                                    <span class="fw-bold">@item.WeekendPrice.ToString("0")₺</span>
                                                        <small class="text-muted">/ Hafta Sonu</small>
                                                    </div>
                                                </div>
                                            <div class="d-flex btn-group flex-grow-1 mt-auto" role="group">
                                                <a class="btn btn-outline-secondary btn-sm" asp-action="Reservation" asp-route-id="@item.houseID"><i class="fas fa-info-circle"></i> Rezervasyon</a>
                                                <a class="btn btn-outline-primary btn-sm" asp-action="Update" asp-route-id="@item.houseID"><i class="fas fa-edit"></i> Düzenle</a>
                                                <a class="btn btn-outline-danger btn-sm" asp-action="Remove" asp-route-id="@item.houseID"><i class="fas fa-trash"></i> Sil</a>
                                                </div>
                                            </div>
                                        </div>
                                   
                                    
                                }
                            </div>
                            
                        </div> <!-- /.card-body -->
                        <div class="card-footer clearfix d-flex justify-content-center">
                           
                            @await Component.InvokeAsync("_Pagination",Model)
                        </div>
                    </div> 
                </div>
            </div>
        </div> <!--end::Container-->
    </div> <!--end::App Content-->
</main> 