@model List<RentHouse.Dto.TestimonialDtos.ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
    string shortDesc = "";
}
<style>
    .house-card {
        width: 350px; 
        margin: 5px;
        margin-bottom: 1rem;
        
    }
</style>

<main class="app-main">

    <div class="app-content mt-4">
        <!--begin::Container-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header bg-body-secondary " data-bs-theme="dark">
                            <h3 class="card-title float-star text-white">Referanslar</h3>
                            <a class="btn btn-success float-end px-3" asp-action="Create"><span class="fa-solid fa-plus"></span> Referans Ekle</a>
                        </div> <!-- /.card-header -->
                        <div class="card-body">
                            <div class="d-flex flex-wrap justify-content-evenly">
                                @foreach (var item in Model)
                                {
                                    {
                                        var maxLength = 80;

                                        shortDesc = @item.comment.Length > maxLength ? (@item.comment.Substring(0, maxLength) + "..") : @item.comment;
                                    }
                                        <div class="card house-card">
                                        <img src="@item.imageUrl" class="card-img-top"  style="object-fit: cover;height: 350px;">
                                            <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <h5 class="card-title mb-0">@item.name</h5>
                                                <small class="text-muted ms-2">@item.title</small>
                                            </div>
                                                
                                                <p class="card-text text-muted">@shortDesc</p>
                                                
                                            <div class="d-flex btn-group flex-grow-1 mt-auto" role="group">
                                                <a class="btn btn-outline-primary btn-sm w-75" asp-action="Update" asp-route-id="@item.testimonialID"><i class="fas fa-edit"></i> Düzenle</a>
                                                <a class="btn btn-outline-danger btn-sm w-25" asp-action="Remove" asp-route-id="@item.testimonialID"><i class="fas fa-trash"></i> Sil</a>
                                                </div>
                                            </div>
                                        </div>
                                   
                                    
                                }
                            </div>
                            
                        </div> <!-- /.card-body -->
                        
                    </div> 
                </div>
            </div>
        </div> <!--end::Container-->
    </div> <!--end::App Content-->
</main> 